:root{
    --color-dark: #141414;
    --color-light: #fff;
    --color-black: #000;
    --color-gray: #BCBCBC;
    --color-line-gray: #525252;

    --line: 2px solid var(--color-light);
    --radius: 11px;
    --transparent-35: rgba(white, 0.35);
    --transparent-text: rgba(0,0,0, 0.15);
    --transparent-text-mobile: rgba(0,0,0, 0.09);
    --blackout-photo: rgba(0, 0, 0, 0.50);

    --font-family-base: 'Manrope', sans-serif;
    --font-family-logo: 'Rufina', sans-serif;
    
}