@import 'normalize', 'fonts', 'globals', 'media', 'mixins', 'variables';


h1 {
    @include tablet {
        font-size: 70px;
    }

    @include mobile {
        font-size: 45px;
    }

    @include mobile-s {
        font-size: 35px;
    }
}

h2 {
    @include tablet {
        font-size: 35px;
    }

    @include mobile {
        font-size: 35px;
    }

    @include mobile-s {
        font-size: 30px;
    }
}

p {

    @include tablet {
        font-size: 26px;
    }

    @include mobile {
        font-size: 21px;
        line-height:28px;
    }


}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-block: 35px;
}

.container {
    padding-inline: 250px;

    @include tablet {
        padding-inline: 50px;
    }

    @include tablet-above {
        padding-inline: 100px;
    }
}



.header-logo {
    font-family: var(--font-family-logo);
    font-size: 32px;
    text-transform: uppercase;
    align-content: center;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-navbar ul {
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.header-navbar__item {
    list-style: none;
    font-size: 22px;
    padding-inline: 40px;
    color: var(--color-gray);

    &.active {
        color: var(--color-light);
    }

    &:hover {
        color: var(--color-light);
    }

    @include tablet {
        font-size: 19px;
        padding-inline: 20px;
    }

    @include tablet-above {
        font-size: 22px;
        padding-inline: 20px;
    }

    @include mobile-above {
        font-size: 19px;
        padding-inline: 10px;
    }
}

.header-burger {
    display: none;
    /* Скрываем бургер-меню по умолчанию */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-light);
}

.header-burger .burger-icon,
.header-burger .close-icon {
    display: none;
    /* Скрываем обе иконки по умолчанию */
}

.header-burger.active .burger-icon,
.header-burger:not(.active) .close-icon {
    display: none;
    /* Скрываем соответствующие иконки */
}

.header-burger:not(.active) .burger-icon {
    display: block;
    /* Показываем бургер-иконку */
}

.header-burger.active .close-icon {
    display: block;
    /* Показываем иконку крестика */
}

@include mobile {
    .header-burger {
        display: block;
        /* Показываем бургер-меню на мобильных устройствах */
    }

    .header-navbar {
        display: none;
        /* Скрываем навигацию по умолчанию на малых экранах */
        flex-direction: column;
        background-color: var(--color-black);
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        padding: 10px 0;

        ul {
            flex-direction: column;
        }

        &__item {
            padding-block: 15px;
            color: var(--color-light);
        }
    }

    .header-navbar.active {
        display: flex;
        /* Показываем навигацию при нажатии на бургер-меню */
    }
}

.slider {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    justify-content: center;
    position: relative;

    @include tablet {
        height: 600px;
    }

    @include mobile {
        height: 400px;
    }

    &-heading {
        @include mobile {
            line-height: 50px;
        }

        @include mobile-s {
            line-height: 45px;
        }
    }

    &-heading,
    &-text {
        position: relative;
        z-index: 2;
        color: var(--color-light);
        transition: opacity 1s ease-in-out;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: opacity 1s ease-in-out;
        z-index: 1;
    }

}



.about {
    padding-block: 120px;

    @include tablet {
        padding-block: 40px;
    }
}


.withline {
    &-long h2::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin-block: 35px;
        background-color: var(--color-light);
    }

    &-light h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin-block: 15px;
        background-color: var(--color-line-gray);
    }

    & h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: var(--color-light);
        margin-block: 15px;
    }
}

.why {
    color: var(--color-black);
    padding-block: 80px;
    background-image: url(../icons/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
        padding-block: 40px;
    }
}

.why-list__item {
    list-style: disc;
    padding-bottom: 20px;

    &::marker {
        font-size: 25px;
    }

    & p {
        padding-left: 5px;
    }
}

.why-cards {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mobile {
        padding-inline: 10px;
    }
}



.why-cards__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 50px;
    padding-block: 25px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--radius);

    @include mobile {
        padding-inline: 50px;
        padding-block: 10px;
    }

    &-text {
        list-style: disc;
        align-self: center;

        &::marker {
            font-size: 25px;
        }

        & p span {
            font-weight: 800;
        }
    }

    &-icon {
        width: 60px;
    }
}

.photo-gallery {
    padding-block: 100px;

    @include tablet {
        padding-block: 50px;
    }
}

.gallery-more-text {
    cursor: pointer;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    @include mobile {
        grid-gap: 15px;
        grid-template-columns: repeat(1, 3fr);
    }
}

.photos__item {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius);
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease;

    @include tablet {
        height: 200px;
    }
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    /* Отключаем взаимодействие */
}

.large-photo {
    grid-column: span 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blackout-photo);
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.photos__item:hover .overlay {
    opacity: 1;
}

.contact {
    background-color: var(--color-light);
    color: var(--color-black);
    padding-block: 120px;
    position: relative;
    overflow: hidden;

    @include mobile {
        padding-block: 50px;
    }

    @include mobile-s {
        padding-block: 25px;
    }
}

.contact::before {
    content: 'CONTACT\AINFO';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 250px;
    font-weight: 800;
    white-space: pre;
    /* или pre-line */
    z-index: 2;
    line-height: 200px;
    pointer-events: none;
    display: block;
    text-align: left;
    color: transparent;
    /* Цвет внутреннего текста */
    -webkit-text-stroke: 2px var(--transparent-text);
    /* Толщина и цвет обводки */
    -webkit-text-fill-color: transparent;
    /* Для поддержки в Webkit браузерах */

    @include mobile{
    font-size: 83px;
    line-height: 99px;
    -webkit-text-stroke: 2px var(--transparent-text-mobile);
    }
}

.contact-title,
.contact-text {
    position: relative;
    z-index: 1;
    /* чтобы текст был выше фона */
}

.contact-text span {

    @include tablet {
        font-size: 25px;
    }
}





.footer-section {
    height: 100px;
    background-color: var(--color-dark);
    color: var(--color-light);
    @include flex-center();

    @include mobile {
        height: 50px;
    }
}

.footer-text {
    font-size: 20px;

    @include mobile {
        font-size: 12px;
    }
}